body {
  background-color: lightblue;
}
h1, h2, h3 {
  text-align: center;
}
#wrapper {
  width: 80%;
  margin: auto;
  background-color: lightgreen;
  box-shadow: 10px 10px;
}
div {
  width: 90%;
  margin: auto;
}
.itembox {
  border: 2px solid blue;
  border-radius: 25px;
  box-shadow: 5px 5px;
  background-color: yellow;
  color: darkblue;
  padding: 30px;  
}
.favorite {
  border: 3px dashed purple;
  border-radius: 20px;
  box-shadow: 5px 5px;
  background-color: lightpink;
  color: darkblue;
  padding: 30px;  
}
ul ol {
  background-color: peachpuff;
  list-style-type: square;
}
nav ul {
  list-style-type: none;
  border-radius: 25px;
  margin: 30;
  padding: 30;
  overflow: hidden;
  background-color: #333;
}
 nav li{
  float: left;
}
nav li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: darkblue;
}   
