body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px; 
}

#ball{
  position: absolute;
  z-index: 2;
  left: 23px;
  top: 20px;
}

#turnip{
  position: absolute;
  z-index: 2;
  left: 297px;
  top: 267px;
}

#farm{
  position: relative;
  z-index: 1;
  left: 0px;
  top:0px;
}

#grass{
  position: absolute;
  z-index: 2;
  left: 493px;
  top: 267px;
}

#tetris{
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
}

#L{
  position: absolute;
  z-index: 2;
  left: 100px;
  top: 1699px;
}

#T{
  position: absolute;
  z-index: 2;
  left: 500px;
  top: 1800px;
}

#I{
  position: absolute;
  z-index: 2;
  left: 1000px;
  top: 1700Px;
}